@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #171717; 
}
::-webkit-scrollbar-thumb {
  background: #db2777; 
}
::-webkit-scrollbar-thumb:hover {
  background: #be185d; 
}

body {
  background-color: #171717;
  color: #fce7f3;
}